
*{
margin: 0;
padding: 0;

}
.navbar{
    display: flex;
    width: 100%;
    height: 70px;
}
.logo img {
    width: 50%;
    border: 4px solid green;
    border-radius: 10%;
    padding-left: 20px;
}
.nav-list {
width: 50%;
/* background-color: rgb(7, 7, 7); */
display: flex; 
justify-content: center;
align-items: center;

}

.nav-list li {
    list-style: none;
padding: 20px 30px ;

}


.nav-list li a {
    text-decoration: none;
color: rgb(255, 255, 255);
font-size: 20px;
font-style: normal;
font-weight: 800;

}
.nav-list li a:hover {
    text-decoration: none;
color: rgb(255, 94, 0);

}
.rightnav{
    width: 50%;
    text-align: right;
    /* background-color: blue; */
    padding-top: 20px; padding-right: 30px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border-radius: 3px solid green;
    border-radius: 9px;

}

.btn-sm{
padding: 5px 20px;
color: rgb(100, 0, 0);
background-color: rgb(255, 94, 0);
font-size: larger;
font-weight: 700;
}
.btn-sm:hover {
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(122, 59, 22);
    font-size: larger;
    
    }
.background{
    background: rgb(18, 90, 92) url(./images/zlivd5jk\ 1.png);
    background-size:cover ;
    background-blend-mode: darken;
}